html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.c-1, .c-2, .c-3, .c-4, .c-5, .c-6, .c-7, .c-8, .c-9, .c-10, .c-11, .c-12, .banner_content .banner_call_out, #site_overview .post_overview, #poem blockquote, .post, .pagination, .page-title, .hentry, .service_item, .video_item, .album_item, .gallery-item, #bottom_menu { float: left; }

.c-1, .c-2, .c-3, .c-4, .c-5, .c-6, .c-7, .c-8, .c-9, .c-10, .c-11, .c-12, .banner_content .banner_call_out, #site_overview .post_overview, #poem blockquote, .post, .pagination, .page-title, .hentry, .service_item, .video_item, .album_item, .gallery-item, #bottom_menu { position: relative; min-height: 1px; padding: 0 15px; }

.c-1 { width: 8.33333%; }

.c-2 { width: 16.66667%; }

.c-3 { width: 25%; }

.c-4 { width: 33.33333%; }

.c-5 { width: 41.66667%; }

.c-6 { width: 50%; }

.c-7 { width: 58.33333%; }

.c-8 { width: 66.66667%; }

.c-9 { width: 75%; }

.c-10 { width: 83.33333%; }

.c-11 { width: 91.66667%; }

.c-12 { width: 100%; }

/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

body { background: white; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1; color: #222222; position: relative; -webkit-font-smoothing: antialiased; }

/* Links ---------------------- */
a { color: #2ba6cb; text-decoration: none; line-height: inherit; }

a:hover { color: #2795b6; }

a:focus { color: #2ba6cb; outline: none; }

p a, p a:visited { line-height: inherit; }

/* Misc ---------------------- */
.left { float: left; }

.right { float: right; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.hide { display: none; }

.highlight { background: #ffff99; }

#googlemap img, object, embed { max-width: none; }

#map_canvas embed { max-width: none; }

#map_canvas img { max-width: none; }

#map_canvas object { max-width: none; }

/* Reset for strange margins by default on <figure> elements */
figure { margin: 0; }

/* The Grid ---------------------- */
.row, #site_overview .overview_content, #header, #main, #banner .banner_content, #footer footer { width: 1000px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.row .row, #site_overview .overview_content .row, #header .row, #main .row, #banner .banner_content .row, #footer footer .row, .row #site_overview .overview_content, #site_overview .row .overview_content, #site_overview .overview_content .overview_content, #header #site_overview .overview_content, #site_overview #header .overview_content, #main #site_overview .overview_content, #site_overview #main .overview_content, #banner .banner_content #site_overview .overview_content, #site_overview #banner .banner_content .overview_content, #footer footer #site_overview .overview_content, #site_overview #footer footer .overview_content, .row #header, #site_overview .overview_content #header, #header #header, #main #header, #banner .banner_content #header, #footer footer #header, .row #main, #site_overview .overview_content #main, #header #main, #main #main, #banner .banner_content #main, #footer footer #main, .row #banner .banner_content, #banner .row .banner_content, #site_overview .overview_content #banner .banner_content, #banner #site_overview .overview_content .banner_content, #header #banner .banner_content, #banner #header .banner_content, #main #banner .banner_content, #banner #main .banner_content, #banner .banner_content .banner_content, #footer footer #banner .banner_content, #banner #footer footer .banner_content, .row #footer footer, #footer .row footer, #site_overview .overview_content #footer footer, #footer #site_overview .overview_content footer, #header #footer footer, #footer #header footer, #main #footer footer, #footer #main footer, #banner .banner_content #footer footer, #footer #banner .banner_content footer, #footer footer footer { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row.collapse .column, #site_overview .collapse.overview_content .column, .collapse#header .column, .collapse#main .column, #banner .collapse.banner_content .column, #footer footer.collapse .column, .row.collapse .columns, #site_overview .collapse.overview_content .columns, .collapse#header .columns, .collapse#main .columns, #banner .collapse.banner_content .columns, #footer footer.collapse .columns { padding: 0; }
.row .row, #site_overview .overview_content .row, #header .row, #main .row, #banner .banner_content .row, #footer footer .row, .row #site_overview .overview_content, #site_overview .row .overview_content, #site_overview .overview_content .overview_content, #header #site_overview .overview_content, #site_overview #header .overview_content, #main #site_overview .overview_content, #site_overview #main .overview_content, #banner .banner_content #site_overview .overview_content, #site_overview #banner .banner_content .overview_content, #footer footer #site_overview .overview_content, #site_overview #footer footer .overview_content, .row #header, #site_overview .overview_content #header, #header #header, #main #header, #banner .banner_content #header, #footer footer #header, .row #main, #site_overview .overview_content #main, #header #main, #main #main, #banner .banner_content #main, #footer footer #main, .row #banner .banner_content, #banner .row .banner_content, #site_overview .overview_content #banner .banner_content, #banner #site_overview .overview_content .banner_content, #header #banner .banner_content, #banner #header .banner_content, #main #banner .banner_content, #banner #main .banner_content, #banner .banner_content .banner_content, #footer footer #banner .banner_content, #banner #footer footer .banner_content, .row #footer footer, #footer .row footer, #site_overview .overview_content #footer footer, #footer #site_overview .overview_content footer, #header #footer footer, #footer #header footer, #main #footer footer, #footer #main footer, #banner .banner_content #footer footer, #footer #banner .banner_content footer, #footer footer footer { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .row.collapse, #site_overview .overview_content .row.collapse, #header .row.collapse, #main .row.collapse, #banner .banner_content .row.collapse, #footer footer .row.collapse, .row #site_overview .collapse.overview_content, #site_overview .row .collapse.overview_content, #site_overview .overview_content .collapse.overview_content, #header #site_overview .collapse.overview_content, #site_overview #header .collapse.overview_content, #main #site_overview .collapse.overview_content, #site_overview #main .collapse.overview_content, #banner .banner_content #site_overview .collapse.overview_content, #site_overview #banner .banner_content .collapse.overview_content, #footer footer #site_overview .collapse.overview_content, #site_overview #footer footer .collapse.overview_content, .row .collapse#header, #site_overview .overview_content .collapse#header, #header .collapse#header, #main .collapse#header, #banner .banner_content .collapse#header, #footer footer .collapse#header, .row .collapse#main, #site_overview .overview_content .collapse#main, #header .collapse#main, #main .collapse#main, #banner .banner_content .collapse#main, #footer footer .collapse#main, .row #banner .collapse.banner_content, #banner .row .collapse.banner_content, #site_overview .overview_content #banner .collapse.banner_content, #banner #site_overview .overview_content .collapse.banner_content, #header #banner .collapse.banner_content, #banner #header .collapse.banner_content, #main #banner .collapse.banner_content, #banner #main .collapse.banner_content, #banner .banner_content .collapse.banner_content, #footer footer #banner .collapse.banner_content, #banner #footer footer .collapse.banner_content, .row #footer footer.collapse, #footer .row footer.collapse, #site_overview .overview_content #footer footer.collapse, #footer #site_overview .overview_content footer.collapse, #header #footer footer.collapse, #footer #header footer.collapse, #main #footer footer.collapse, #footer #main footer.collapse, #banner .banner_content #footer footer.collapse, #footer #banner .banner_content footer.collapse, #footer footer footer.collapse { margin: 0; }

.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.centered, .columns.centered { float: none; margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child { float: right; }

[class*="column"] + [class*="column"].end { float: left; }

.one, .row .one, #site_overview .overview_content .one, #header .one, #main .one, #banner .banner_content .one, #footer footer .one { width: 8.33333%; }

.two, .row .two, #site_overview .overview_content .two, #header .two, #main .two, #banner .banner_content .two, #footer footer .two { width: 16.66667%; }

.three, .row .three, #site_overview .overview_content .three, #header .three, #main .three, #banner .banner_content .three, #footer footer .three { width: 25%; }

.four, .row .four, #site_overview .overview_content .four, #header .four, #main .four, #banner .banner_content .four, #footer footer .four { width: 33.33333%; }

.five, .row .five, #site_overview .overview_content .five, #header .five, #main .five, #banner .banner_content .five, #footer footer .five { width: 41.66667%; }

.six, .row .six, #site_overview .overview_content .six, #header .six, #main .six, #banner .banner_content .six, #footer footer .six { width: 50%; }

.seven, .row .seven, #site_overview .overview_content .seven, #header .seven, #main .seven, #banner .banner_content .seven, #footer footer .seven { width: 58.33333%; }

.eight, .row .eight, #site_overview .overview_content .eight, #header .eight, #main .eight, #banner .banner_content .eight, #footer footer .eight { width: 66.66667%; }

.nine, .row .nine, #site_overview .overview_content .nine, #header .nine, #main .nine, #banner .banner_content .nine, #footer footer .nine { width: 75%; }

.ten, .row .ten, #site_overview .overview_content .ten, #header .ten, #main .ten, #banner .banner_content .ten, #footer footer .ten { width: 83.33333%; }

.eleven, .row .eleven, #site_overview .overview_content .eleven, #header .eleven, #main .eleven, #banner .banner_content .eleven, #footer footer .eleven { width: 91.66667%; }

.twelve, .row .twelve, #site_overview .overview_content .twelve, #header .twelve, #main .twelve, #banner .banner_content .twelve, #footer footer .twelve { width: 100%; }

.row .offset-by-one, #site_overview .overview_content .offset-by-one, #header .offset-by-one, #main .offset-by-one, #banner .banner_content .offset-by-one, #footer footer .offset-by-one { margin-left: 8.33333%; }

.row .offset-by-two, #site_overview .overview_content .offset-by-two, #header .offset-by-two, #main .offset-by-two, #banner .banner_content .offset-by-two, #footer footer .offset-by-two { margin-left: 16.66667%; }

.row .offset-by-three, #site_overview .overview_content .offset-by-three, #header .offset-by-three, #main .offset-by-three, #banner .banner_content .offset-by-three, #footer footer .offset-by-three { margin-left: 25%; }

.row .offset-by-four, #site_overview .overview_content .offset-by-four, #header .offset-by-four, #main .offset-by-four, #banner .banner_content .offset-by-four, #footer footer .offset-by-four { margin-left: 33.33333%; }

.row .offset-by-five, #site_overview .overview_content .offset-by-five, #header .offset-by-five, #main .offset-by-five, #banner .banner_content .offset-by-five, #footer footer .offset-by-five { margin-left: 41.66667%; }

.row .offset-by-six, #site_overview .overview_content .offset-by-six, #header .offset-by-six, #main .offset-by-six, #banner .banner_content .offset-by-six, #footer footer .offset-by-six { margin-left: 50%; }

.row .offset-by-seven, #site_overview .overview_content .offset-by-seven, #header .offset-by-seven, #main .offset-by-seven, #banner .banner_content .offset-by-seven, #footer footer .offset-by-seven { margin-left: 58.33333%; }

.row .offset-by-eight, #site_overview .overview_content .offset-by-eight, #header .offset-by-eight, #main .offset-by-eight, #banner .banner_content .offset-by-eight, #footer footer .offset-by-eight { margin-left: 66.66667%; }

.row .offset-by-nine, #site_overview .overview_content .offset-by-nine, #header .offset-by-nine, #main .offset-by-nine, #banner .banner_content .offset-by-nine, #footer footer .offset-by-nine { margin-left: 75%; }

.row .offset-by-ten, #site_overview .overview_content .offset-by-ten, #header .offset-by-ten, #main .offset-by-ten, #banner .banner_content .offset-by-ten, #footer footer .offset-by-ten { margin-left: 83.33333%; }

.push-two { left: 16.66667%; }

.pull-two { right: 16.66667%; }

.push-three { left: 25%; }

.pull-three { right: 25%; }

.push-four { left: 33.33333%; }

.pull-four { right: 33.33333%; }

.push-five { left: 41.66667%; }

.pull-five { right: 41.66667%; }

.push-six { left: 50%; }

.pull-six { right: 50%; }

.push-seven { left: 58.33333%; }

.pull-seven { right: 58.33333%; }

.push-eight { left: 66.66667%; }

.pull-eight { right: 66.66667%; }

.push-nine { left: 75%; }

.pull-nine { right: 75%; }

.push-ten { left: 83.33333%; }

.pull-ten { right: 83.33333%; }

img, object, embed { max-width: 100%; height: auto; }

object, embed { height: 100%; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row, #site_overview .overview_content, #header, #main, #banner .banner_content, #footer footer { *zoom: 1; }
.row:before, #site_overview .overview_content:before, #header:before, #main:before, #banner .banner_content:before, #footer footer:before, .row:after, #site_overview .overview_content:after, #header:after, #main:after, #banner .banner_content:after, #footer footer:after { content: ""; display: table; }
.row:after, #site_overview .overview_content:after, #header:after, #main:after, #banner .banner_content:after, #footer footer:after { clear: both; }

/* Mobile Grid and Overrides ---------------------- */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
  .row, #site_overview .overview_content, #header, #main, #banner .banner_content, #footer footer { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
  .column, .columns { width: auto !important; float: none; }
  .column:last-child, .columns:last-child { float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  .column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
  .column:after, .columns:after { clear: both; }
  .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten { margin-left: 0 !important; }
  .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
  .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
  /* Mobile 4-column Grid */
  .row .mobile-one, #site_overview .overview_content .mobile-one, #header .mobile-one, #main .mobile-one, #banner .banner_content .mobile-one, #footer footer .mobile-one { width: 25% !important; float: left; padding: 0 15px; }
  .row .mobile-one:last-child, #site_overview .overview_content .mobile-one:last-child, #header .mobile-one:last-child, #main .mobile-one:last-child, #banner .banner_content .mobile-one:last-child, #footer footer .mobile-one:last-child { float: right; }
  .row.collapse .mobile-one, #site_overview .collapse.overview_content .mobile-one, .collapse#header .mobile-one, .collapse#main .mobile-one, #banner .collapse.banner_content .mobile-one, #footer footer.collapse .mobile-one { padding: 0; }
  .row .mobile-two, #site_overview .overview_content .mobile-two, #header .mobile-two, #main .mobile-two, #banner .banner_content .mobile-two, #footer footer .mobile-two { width: 50% !important; float: left; padding: 0 15px; }
  .row .mobile-two:last-child, #site_overview .overview_content .mobile-two:last-child, #header .mobile-two:last-child, #main .mobile-two:last-child, #banner .banner_content .mobile-two:last-child, #footer footer .mobile-two:last-child { float: right; }
  .row.collapse .mobile-two, #site_overview .collapse.overview_content .mobile-two, .collapse#header .mobile-two, .collapse#main .mobile-two, #banner .collapse.banner_content .mobile-two, #footer footer.collapse .mobile-two { padding: 0; }
  .row .mobile-three, #site_overview .overview_content .mobile-three, #header .mobile-three, #main .mobile-three, #banner .banner_content .mobile-three, #footer footer .mobile-three { width: 75% !important; float: left; padding: 0 15px; }
  .row .mobile-three:last-child, #site_overview .overview_content .mobile-three:last-child, #header .mobile-three:last-child, #main .mobile-three:last-child, #banner .banner_content .mobile-three:last-child, #footer footer .mobile-three:last-child { float: right; }
  .row.collapse .mobile-three, #site_overview .collapse.overview_content .mobile-three, .collapse#header .mobile-three, .collapse#main .mobile-three, #banner .collapse.banner_content .mobile-three, #footer footer.collapse .mobile-three { padding: 0; }
  .row .mobile-four, #site_overview .overview_content .mobile-four, #header .mobile-four, #main .mobile-four, #banner .banner_content .mobile-four, #footer footer .mobile-four { width: 100% !important; float: left; padding: 0 15px; }
  .row .mobile-four:last-child, #site_overview .overview_content .mobile-four:last-child, #header .mobile-four:last-child, #main .mobile-four:last-child, #banner .banner_content .mobile-four:last-child, #footer footer .mobile-four:last-child { float: right; }
  .row.collapse .mobile-four, #site_overview .collapse.overview_content .mobile-four, .collapse#header .mobile-four, .collapse#main .mobile-four, #banner .collapse.banner_content .mobile-four, #footer footer.collapse .mobile-four { padding: 0; }
  .push-one-mobile { left: 25%; }
  .pull-one-mobile { right: 25%; }
  .push-two-mobile { left: 50%; }
  .pull-two-mobile { right: 50%; }
  .push-three-mobile { left: 75%; }
  .pull-three-mobile { right: 75%; } }
/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid { display: block; overflow: hidden; padding: 0; }
.block-grid > li { display: block; height: auto; float: left; }
.block-grid.one-up { margin: 0; }
.block-grid.one-up > li { width: 100%; padding: 0 0 15px; }
.block-grid.two-up { margin: 0 -15px; }
.block-grid.two-up > li { width: 50%; padding: 0 15px 15px; }
.block-grid.two-up > li:nth-child(2n+1) { clear: both; }
.block-grid.three-up { margin: 0 -12px; }
.block-grid.three-up > li { width: 33.33%; padding: 0 12px 12px; }
.block-grid.three-up > li:nth-child(3n+1) { clear: both; }
.block-grid.four-up { margin: 0 -10px; }
.block-grid.four-up > li { width: 25%; padding: 0 10px 10px; }
.block-grid.four-up > li:nth-child(4n+1) { clear: both; }
.block-grid.five-up { margin: 0 -8px; }
.block-grid.five-up > li { width: 20%; padding: 0 8px 8px; }
.block-grid.five-up > li:nth-child(5n+1) { clear: both; }

/* Mobile Block Grids */
@media only screen and (max-width: 767px) { .block-grid.mobile > li { float: none; width: 100%; margin-left: 0; }
  .block-grid > li { clear: none !important; }
  .block-grid.mobile-two-up > li { width: 50%; }
  .block-grid.mobile-two-up > li:nth-child(2n+1) { clear: both; }
  .block-grid.mobile-three-up > li { width: 33.33%; }
  .block-grid.mobile-three-up > li:nth-child(3n+1) { clear: both !important; }
  .block-grid.mobile-four-up > li { width: 25%; }
  .block-grid.mobile-four-up > li:nth-child(4n+1) { clear: both; }
  .block-grid.mobile-five-up > li:nth-child(5n+1) { clear: both; } }
html { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

.sprites-sprite, #site_overview:after, #toggle-search, #logo, hr, #prev_post a, #next_post a, #footer footer:after { background: url('../images/sprites-s202474ab50.png') no-repeat; }

html { font-size: 0.875em; }

body { font-size: 1em; line-height: 1.4; }

img { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

@font-face { font-family: "the_great_escape"; src: url("../fonts/thegreatescape-webfont.eot"); src: url("../fonts/thegreatescape-webfont.eot?#iefix") format("embedded-opentype"); src: url("../fonts/thegreatescape-webfont.woff") format("woff"); src: url("../fonts/thegreatescape-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

html { line-height: 1.4em; height: 100%; }
html ::selection { background: #a3d166; color: #555555; text-shadow: 1px 1px 0 white; }
html ::-moz-selection { background: #a3d166; color: #555555; text-shadow: 1px 1px 0 white; }

body { font-family: "Open Sans", sans-serif; color: #555555; min-height: 100%; min-width: 480px; position: relative; }

input, textarea { font-family: "Open Sans", sans-serif; }

a { color: #21ade8; text-decoration: none; }
.category-reflexao a { color: #8bc53f; }
.category-brincadeira a { color: #ec1c24; }
a:hover { text-decoration: underline; }

p, hr, ol, ul, h1, h2, h3, h4, h5, h6 { padding-bottom: 1.4em; line-height: 1.4em; }

h1, h2, h3, h4, h5 { font-weight: 700; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover { text-decoration: none; }

h1 { font-size: 1.5em; }

h2 { font-size: 1.28571em; }

h3 { font-size: 1.14286em; }

h4 { font-size: 1.07143em; }

strong, b { font-weight: 700; }

em, i { font-style: italic; }

blockquote { font-size: 1.14286em; }
blockquote p { line-height: 1.85714em; }

ol { list-style: decimal inside; }

ul { list-style: none; }

img { border: 2px solid #555555; }
#banner img { border: none; }
a img { border: 2px solid #555555; }
.entry-content img { margin-bottom: 1.4em; }
.category-reflexao img { border-color: #8bc53f; }
.category-brincadeira img { border-color: #ec1c24; }
.category-comunicacao img { border-color: #4fbeed; }
img.right, img.alignright { float: right; margin: 0 0 10px 10px; }
img.left, img.alignleft, .service_item img, .page_item img { float: left; margin: 0 10px 10px 0; }
img.center, img.aligncenter { display: block; margin: 0 auto 1.4em; }

#banner { background: url('../images/banner_bg.jpg?1352385114') repeat top; padding: 80px 0 180px; overflow: hidden; position: relative; }
#banner:after { content: ""; display: block; position: absolute; bottom: 0; width: 100%; height: 42px; background: url('../images/banner_bottom.jpg?1352385114') repeat-x bottom; }
#banner #clouds { position: absolute; bottom: 42px; width: 100%; height: 97px; background: url('../images/banner_clouds.png?1352385115') repeat-x bottom; -webkit-animation: clouds-moving 180s linear infinite; -moz-animation: clouds-moving 180s linear infinite; -ms-animation: clouds-moving 180s linear infinite; -o-animation: clouds-moving 180s linear infinite; animation: clouds-moving 180s linear infinite; }

.banner_content #balloon_img { position: absolute; top: 40px; right: 7%; -webkit-animation: balloon-moving 12s infinite; -moz-animation: balloon-moving 12s infinite; -ms-animation: balloon-moving 12s infinite; -o-animation: balloon-moving 12s infinite; animation: balloon-moving 12s infinite; }
.banner_content .banner_call_out { width: 75%; font-size: 1.85714em; line-height: 1.8; }
@media only screen and (min-width: 980px) { .banner_content .banner_call_out { text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6), -1px -1px 1px rgba(255, 255, 255, 0.6), -1px 1px 1px rgba(255, 255, 255, 0.6), 1px -1px 1px rgba(255, 255, 255, 0.6), 2px 0 2px rgba(0, 0, 0, 0.4); } }
.banner_content .click_flag { background: url('../images/airplane.png?1352385114') no-repeat center; height: 87px; width: 515px; display: block; line-height: 80px; text-align: center; text-indent: -220px; color: #3b3b3b; font-weight: 700; text-shadow: 0 1px white; position: absolute; z-index: 100; bottom: 70px; right: 50%; margin-right: -157.5px; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; -webkit-animation: airplane-moving 4s linear infinite; -moz-animation: airplane-moving 4s linear infinite; -ms-animation: airplane-moving 4s linear infinite; -o-animation: airplane-moving 4s linear infinite; animation: airplane-moving 4s linear infinite; }
@media only screen and (max-width: 480px) { .banner_content .click_flag { right: 50%; margin-right: -257.5px; } }
.banner_content .click_flag:hover { text-decoration: none; text-shadow: none; margin-right: -182.5px; }

#site_overview { background-color: #e5edf3; padding: 2.8em 0; position: relative; }
#site_overview:after { content: ""; display: block; position: absolute; background-position: 0 -253px; text-indent: -119988px; overflow: hidden; text-align: left; display: block; width: 22px; height: 22px; left: 50%; margin-left: -11px; bottom: -11px; }
#site_overview .post_overview { width: 25%; }
@media only screen and (max-width: 768px) { #site_overview .post_overview { width: 50%; } }
#site_overview .post_overview img { position: relative; top: -1em; }
#site_overview .post_overview .more_content { position: relative; top: -10px; font-size: 0.92857em; }

#poem blockquote { width: 58.33333%; }
#poem blockquote cite { font-weight: 700; display: block; text-align: right; }

@-webkit-keyframes clouds-moving { 0% { background-position: 0 100%; }
  100% { background-position: -1500px 100%; } }

@-moz-keyframes clouds-moving { 0% { background-position: 0 100%; }
  100% { background-position: -1500px 100%; } }

@-o-keyframes clouds-moving { 0% { background-position: 0 100%; }
  100% { background-position: -1500px 100%; } }

@keyframes clouds-moving { 0% { background-position: 0 100%; }
  100% { background-position: -1500px 100%; } }

@-webkit-keyframes balloon-moving { 0% { margin-top: 30px; margin-right: 0; }
  65% { margin-top: 0px; margin-right: 5px; }
  100% { margin-top: 30px; margin-right: 0; } }

@-moz-keyframes balloon-moving { 0% { margin-top: 30px; margin-right: 0; }
  65% { margin-top: 0px; margin-right: 5px; }
  100% { margin-top: 30px; margin-right: 0; } }

@-o-keyframes balloon-moving { 0% { margin-top: 30px; margin-right: 0; }
  65% { margin-top: 0px; margin-right: 5px; }
  100% { margin-top: 30px; margin-right: 0; } }

@keyframes balloon-moving { 0% { margin-top: 30px; margin-right: 0; }
  65% { margin-top: 0px; margin-right: 5px; }
  100% { margin-top: 30px; margin-right: 0; } }

@-webkit-keyframes airplane-moving { 0% { margin-bottom: -10px; }
  50% { margin-bottom: 0px; }
  100% { margin-bottom: -10px; } }

@-moz-keyframes airplane-moving { 0% { margin-bottom: -10px; }
  50% { margin-bottom: 0px; }
  100% { margin-bottom: -10px; } }

@-o-keyframes airplane-moving { 0% { margin-bottom: -10px; }
  50% { margin-bottom: 0px; }
  100% { margin-bottom: -10px; } }

@keyframes airplane-moving { 0% { margin-bottom: -10px; }
  50% { margin-bottom: 0px; }
  100% { margin-bottom: -10px; } }

#search-box { position: absolute; right: 20px; top: 0; z-index: 100; width: 30%; }
#search-box input[type=text] { padding: 4px; margin: 0; }

#search-container { background: #8bc53f; -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -ms-border-radius: 0 0 3px 3px; -o-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; padding: 5px; display: none; }
#search-container:target { display: block; }

#toggle-search { position: absolute; right: 10px; bottom: -30px; background-position: 0 -193px; text-indent: -119988px; overflow: hidden; text-align: left; display: block; width: 36px; height: 30px; background-color: #8bc53f; -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -ms-border-radius: 0 0 3px 3px; -o-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
#toggle-search:hover, #toggle-search:active { background-position: 0 -223px; }

#header, #poem, #banner .banner_call_out, blockquote { font-family: "the_great_escape", cursive; }

header.header { background: #e5edf3 url("../images/header_bg.png") repeat-x bottom center; position: relative; }
.home header.header { background: white url("../images/header_bg_home.png") repeat-x bottom center; }
header.header:before { content: ""; display: block; position: absolute; text-indent: -119988px; overflow: hidden; text-align: left; display: block; background-repeat: no-repeat; height: 3px; width: 1280px; background-image: url('../images/top_colors.png?1352385115'); background-repeat: repeat; background-size: cover; width: 100%; top: 0; }

#header { padding-bottom: 70px; }

#logo { margin-top: 50px; position: relative; right: -10px; background-position: 0 0; text-indent: -119988px; overflow: hidden; text-align: left; display: block; width: 260px; height: 116px; }
@media only screen and (max-width: 980px) { #logo { position: static; margin: 50px auto 0; } }

#top_menu { margin: 0; padding: 0; border: 0; *zoom: 1; float: right; margin-top: -27px; }
#top_menu:before, #top_menu:after { content: ""; display: table; }
#top_menu:after { clear: both; }
#top_menu li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
#top_menu li:first-child, #top_menu li.first { padding-left: 0; }
#top_menu li:last-child { padding-right: 0; }
#top_menu li.last { padding-right: 0; }
@media only screen and (max-width: 980px) { #top_menu { float: none; margin: 30px auto 0; } }
#top_menu .menu-item { margin-left: 5px; }
#top_menu .menu-item a { color: #555555; display: block; text-decoration: none; font-size: 1.07143em; padding: 2px 8px 1px; border: 2px solid transparent; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; -webkit-border-radius: 20px 50px 50px 30px; -moz-border-radius: 20px 50px 50px 30px; -ms-border-radius: 20px 50px 50px 30px; -o-border-radius: 20px 50px 50px 30px; border-radius: 20px 50px 50px 30px; }
#top_menu .menu-item a:hover, #top_menu .menu-item a:active { background-color: white; border-color: #f0e300; color: #666000; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); text-shadow: 0 1px 0 white; -webkit-transform: scale(1.1) rotate(1deg); -moz-transform: scale(1.1) rotate(1deg); -ms-transform: scale(1.1) rotate(1deg); -o-transform: scale(1.1) rotate(1deg); transform: scale(1.1) rotate(1deg); }
#top_menu .menu-item:nth-child(5n + 5) a { -webkit-border-radius: 40px 20px 50px 20px; -moz-border-radius: 40px 20px 50px 20px; -ms-border-radius: 40px 20px 50px 20px; -o-border-radius: 40px 20px 50px 20px; border-radius: 40px 20px 50px 20px; }
#top_menu .menu-item:nth-child(5n + 5) a:hover, #top_menu .menu-item:nth-child(5n + 5) a:active { border-color: #4fbeed; color: #148ec2; -webkit-transform: scale(1.1) rotate(1deg); -moz-transform: scale(1.1) rotate(1deg); -ms-transform: scale(1.1) rotate(1deg); -o-transform: scale(1.1) rotate(1deg); transform: scale(1.1) rotate(1deg); }
#top_menu .menu-item:nth-child(5n + 4) a { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
#top_menu .menu-item:nth-child(5n + 4) a:hover, #top_menu .menu-item:nth-child(5n + 4) a:active { border-color: #ec1c24; color: #950d12; -webkit-transform: scale(1.1) rotate(-2deg); -moz-transform: scale(1.1) rotate(-2deg); -ms-transform: scale(1.1) rotate(-2deg); -o-transform: scale(1.1) rotate(-2deg); transform: scale(1.1) rotate(-2deg); }
#top_menu .menu-item:nth-child(5n + 3) a:hover, #top_menu .menu-item:nth-child(5n + 3) a:active { border-color: #555555; color: #222222; -webkit-transform: scale(1.1) rotate(2deg); -moz-transform: scale(1.1) rotate(2deg); -ms-transform: scale(1.1) rotate(2deg); -o-transform: scale(1.1) rotate(2deg); transform: scale(1.1) rotate(2deg); }
#top_menu .menu-item:nth-child(5n + 2) a { -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }
#top_menu .menu-item:nth-child(5n + 2) a:hover, #top_menu .menu-item:nth-child(5n + 2) a:active { border-color: #8bc53f; color: #557925; -webkit-transform: scale(1.1) rotate(-2deg); -moz-transform: scale(1.1) rotate(-2deg); -ms-transform: scale(1.1) rotate(-2deg); -o-transform: scale(1.1) rotate(-2deg); transform: scale(1.1) rotate(-2deg); }
#top_menu .menu-item.active a, #top_menu .menu-item.current-menu-item a { font-weight: bold; }

hr { clear: left; background-position: 0 -138px; text-indent: -119988px; overflow: hidden; text-align: left; display: block; width: 431px; height: 22px; margin: 1.4em auto; border: none; }
hr:nth-child(even), .post:nth-child(even) > hr, .hentry:nth-child(even) > hr { background-position: 0 -116px; }
hr:nth-child(odd), .post:nth-child(odd) > hr, .hentry:nth-child(odd) > hr { background-position: 0 -138px; }

#main { padding-top: 5.6em; padding-bottom: 18.2em; overflow: hidden; }
.page-template-contato-page-php #main { padding-bottom: 11.2em; }
@media only screen and (max-width: 480px) { #main { padding-bottom: 9.8em; } }

.agenda_list li, #main ul li { background: url('../images/small_star.png?1352386635') no-repeat 0 5px; padding-left: 16px; margin-bottom: 0.7em; }

.post, .pagination, .page-title, .hentry, .service_item { width: 83.33333%; margin-left: 8.33333%; margin-bottom: 1.4em; }

.video_item, .album_item { width: 50%; }
@media only screen and (max-width: 768px) { .video_item, .album_item { clear: left; width: 95%; } }

.album_item .entry-title { max-height: 2.85714em; text-align: center; }

.gallery .button { float: left; clear: both; margin: 0 0 1.4em 14px; font-size: 1em; padding: 5px 10px; }

.gallery-item { width: 33.33333%; }
@media only screen and (max-width: 768px) { .gallery-item { clear: left; text-align: center; margin-left: auto; margin-right: auto; width: 100%; } }

.category-show { font-size: 0.78571em; text-transform: uppercase; display: block; margin: -24px 0 14px; }
footer .category-show { text-align: center; margin: 0; }

input[type=text], input[type=email], textarea { color: #555555; width: 100%; display: block; outline: none; padding: 10px; font-size: 1.14286em; border: 2px solid #555555; margin-bottom: 1.4em; }
.error input[type=text], .error input[type=email], .error textarea { border-color: #c51017; }

input[type=submit], button, a.button { border: 2px solid #555555; background: #8bc53f; color: #555555; padding: 6px 12px; font-size: 1.4em; cursor: pointer; text-shadow: 0 -1px rgba(255, 255, 255, 0.3); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 5px 1px #395219, 0 1px 1px #395219; -moz-box-shadow: 0 5px 1px #395219, 0 1px 1px #395219; box-shadow: 0 5px 1px #395219, 0 1px 1px #395219; float: right; text-decoration: none; }
input[type=submit]:active, button:active, a.button:active { -webkit-box-shadow: 0 1px 0 #395219, 0 1px #395219 inset; -moz-box-shadow: 0 1px 0 #395219, 0 1px #395219 inset; box-shadow: 0 1px 0 #395219, 0 1px #395219 inset; position: relative; bottom: -4px; }

#contact-section { width: 85%; margin: 0 auto; }
#contact-section form { position: relative; }
#contact-section form:after { content: ""; display: block; position: absolute; text-indent: -119988px; overflow: hidden; text-align: left; display: block; background-repeat: no-repeat; height: 342px; width: 830px; background-image: url('../images/contact_bg.png?1352385115'); bottom: -150px; left: -150px; z-index: -1; }

#prev_post, #next_post { border: 2px solid #555555; background: #8bc53f; color: #555555; padding: 6px 12px; font-size: 1.4em; cursor: pointer; text-shadow: 0 -1px rgba(255, 255, 255, 0.3); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 5px 1px #395219, 0 1px 1px #395219; -moz-box-shadow: 0 5px 1px #395219, 0 1px 1px #395219; box-shadow: 0 5px 1px #395219, 0 1px 1px #395219; padding: 8px 15px; }
#prev_post:active, #next_post:active { -webkit-box-shadow: 0 1px 0 #395219, 0 1px #395219 inset; -moz-box-shadow: 0 1px 0 #395219, 0 1px #395219 inset; box-shadow: 0 1px 0 #395219, 0 1px #395219 inset; position: relative; bottom: -4px; }
#prev_post a, #next_post a { background-position: 0 -275px; text-indent: -119988px; overflow: hidden; text-align: left; display: block; width: 30px; height: 15px; }

#prev_post { float: left; }
#prev_post a { background-position: 0 -290px; }

#next_post { float: right; }

#footer { width: 100%; background: #e5edf3; position: relative; }
#footer:before { content: ""; display: block; position: absolute; position: absolute; display: block; background: url('../images/footer.png?1352385115') repeat-x center top; top: -118px; width: 100%; height: 118px; }
@media only screen and (max-width: 480px) { #footer { margin-top: 9.8em; } }
#footer footer { padding: 15px 0; position: relative; }
#footer footer:after { content: ""; display: block; position: absolute; background-position: 0 -160px; text-indent: -119988px; overflow: hidden; text-align: left; display: block; width: 55px; height: 33px; top: -118px; right: 50%; margin-right: -335px; }
@media only screen and (max-width: 768px) { #footer footer:after { display: none; } }
.page-template-contato-page-php #footer footer:after { display: none; }

#bottom_menu { width: 100%; margin: 0; padding: 0; border: 0; *zoom: 1; font-size: 0.92857em; z-index: 10; }
#bottom_menu:before, #bottom_menu:after { content: ""; display: table; }
#bottom_menu:after { clear: both; }
#bottom_menu li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
#bottom_menu li:first-child, #bottom_menu li.first { padding-left: 0; }
#bottom_menu li:last-child { padding-right: 0; }
#bottom_menu li.last { padding-right: 0; }
#bottom_menu li { margin-right: 1em; }
@media only screen and (max-width: 480px) { #bottom_menu li { display: block; float: none; text-align: center; font-size: 1.23077em; padding-bottom: 5px; } }
#bottom_menu li.active a, #bottom_menu li.current-menu-item a { font-weight: bold; text-decoration: none; }
#bottom_menu a { color: #555555; text-decoration: underline; }
#bottom_menu a:hover { color: #4fbeed; }

.copyright { font-size: 0.78571em; text-align: right; display: block; padding-top: 10px; clear: both; position: relative; bottom: -4px; }

h1.error, h2.error, h3.error, h4.error, h5.error, h6.error { color: #ec1c24; }
h1.success, h2.success, h3.success, h4.success, h5.success, h6.success { color: #628d2b; }

.error404, .search-no-results { position: relative; }
.error404:after, .search-no-results:after { content: ""; display: block; position: absolute; text-indent: -119988px; overflow: hidden; text-align: left; display: block; background-repeat: no-repeat; height: 221px; width: 122px; background-image: url('../images/flute.png?1353000186'); bottom: 84px; left: 7px; }
@media only screen and (max-width: 480px) { .error404:after, .search-no-results:after { display: none; } }

#comments { width: 470px; margin: 7em auto 0; }
